
// header font-size
$header-font-size: 36px;
$header-height: 100px;
$footer-height: $header-height * 3.5;
$font-size-20px: 20px;
$font-size-26px: 26px;
$margin-20: 20px;
$copyright-padding: 50px;
$min-width: 1500px;
$box-shadow-width: 4px;

$user-border-radius: 6px;
$user-width: 65%;
$user-statistics-right-margin: 0.15 * $user-width;
$img-percentage: 15%;
$user-height: 250px;
$full-height: 100%;

// full width
$full-width: 100%;
$small-border-width: 1px;

$margin-0: 0;
$user-margin: 14px; // margin between cards
$border-pattern-width: 2;

// set image dimensions
$img-dimensions: 150px;
